<!-- views/about.ejs -->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title><%= title %></title>
    </head>
    <body>
        <h1><%= greeting %><br>
        <h1>Name: <%= name %><br>
        <h1>Hobbies: <%= hobbies %><br>
        <h1>Lieblingsserie: <%= lieblingsserie %><br>

        <a href="/">Return</a>



    </body>
</html>
